*.iml
.gradle/
local.properties
keystore.properties
*.keystore
*.jks
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
release/
.kotlin/
.navigation/
proguard/
app/release/
app/build/
.vscode/
